body {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  min-height: 100vh;
  transition: all 0.5s ease;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: -27rem auto;
}

header {
  height: 500px;
  transition: all 0.5s ease;
}

.moon,
.sun {
  float: right;
  width: 38px;
  cursor: pointer;
}

.sun {
  display: none;
}

h1 {
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 9px;
  text-align: left;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  border: none;
  width: 100%;
  padding: 1rem 3rem;
  background: white;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease;
}

form button {
  cursor: pointer;
  border: none;
  padding: 1.7rem;
  position: absolute;
  margin-right: 35.5rem;
  transition: all 0.5s ease;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.5rem;
}

.todo-list {
  list-style: none;
  min-width: 100%;
  transition: all 0.5s ease;
}

.draggable {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: move;
  user-select: none;
  transition: all 0.5s ease;
  height: 3rem;
  margin-top: 2px;
  position: relative;
  word-break: break-all;
  height: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0;}

button {transition: all 0.5s ease;}

.delete-btn {
  background: transparent;
  border: none;
  padding: 0.55rem;
  transition: all 0.5s ease;
  margin-left: 0;
  position:absolute;
  right: 1rem;
  cursor: pointer;
}

.delete-btn:hover {
  background-image: url(images/icon-cross.svg);
  background-repeat: no-repeat;
}

.btn {
  border: 1px solid;
  border-radius: 50%;
  margin-left: 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
  background: transparent;
  border-color: hsl(236, 9%, 61%);
}

.btn:hover {
  border: double 1px transparent;
  background: linear-gradient(white,white) padding-box,
  linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

.check {
  background-image: url(images/icon-check.svg),
    linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-position: center;
  background-repeat: no-repeat;
  transition:none;
}

.check:hover {background-image: url(images/icon-check.svg),
  linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
background-position: center;
background-repeat: no-repeat;}

#todo_0 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.todo-item {
  padding-left: 1rem;
}

.draggable img {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 1rem;
  background-color: white;
  margin-top: -1.1rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: hsl(236, 9%, 61%);
  transition: all 0.5s ease;
}

.all {
  cursor: pointer;
}

.all:hover {
  color: black;
}

.all.active {
  color: hsl(220, 98%, 61%);
}

.over {
  transform: scale(1.1, 1.1);
}

.filter-todo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transition: all 0.5s ease;
  margin-left: 2rem;
}

.drag-n-drop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Colors */

.Light {
  background-color: hsl(0, 0%, 98%);
}

.Light header {
  background-image: url(images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
}

.Light .filter-todo {background-color: white;}

.Dark {
  background-color: hsl(235, 21%, 11%);
  color: hsl(234, 11%, 52%);
}

.Dark header {
  background-image: url(images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
}

.Dark form input,
.Dark form button {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.Dark div.draggable {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.Dark div.draggable:hover {
  color: hsl(236, 33%, 92%);
}

.Dark .todo-list .draggable {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.Dark .select {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.Dark .filter-todo {background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);}

.Dark .complete-btn,
.Dark .delete-btn {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
}

.Dark .all:hover {
  color: hsl(236, 33%, 92%);
}

.Dark .btn:hover {
  border: double 1px transparent;
  background: linear-gradient(hsl(235, 24%, 19%),hsl(235, 24%, 19%)) padding-box,
  linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

.Dark .check:hover {background-image: url(images/icon-check.svg),
  linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
background-position: center;
background-repeat: no-repeat;}


@media (max-width: 550px) {
  body {
    max-width: 550px;
    font-size: 14px;
  }

  .Light header {
    background-image: url(images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
  }

  .Dark header {
    background-image: url(images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 25px;
  }

  .moon,
  .sun {
  width: 20px;
}

  .container {max-width: 500px;
    margin: -29rem 1.6rem;}

  .naming {margin-bottom: 2rem;}

  form input {
    font-size: 12px;
  }

  form button {
    margin-right: 18rem;
  }

  .todo-container { margin-top: 0.5rem;}


  .draggable {font-size: 12px;}

  .delete-btn {
    background-image: url(images/icon-cross.svg);
  }

  .select {font-size: 12px;
  position: relative;}

  .filter-todo {position: absolute;
    max-width: 500px;
    width: 73%;
  margin: 8rem 0 0 -1rem;
  padding: 1rem 0 1rem 5.5rem;
  border-radius: 5px;}

.drag-n-drop {margin-top: 6rem;}
}
